/* Spruha */

*{
    padding:0;
    margin:0;
}
body{
    background-color: rgb(13, 31, 56);
    color: whitesmoke;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    /* align-items: center;
    justify-content: center;            /* y-direction align with help of height property   */
    /* height:100vh; */ 
}
.main{
    width:35%;
    margin : auto;
}
.mainconatiner{
    margin-top : 20px;
    padding: 10px;
    width : 60%;
    margin : auto ;
    /* margin : auto; */

}
.poster{
    width : 90%;
    height: 350px;
    justify-content: center;
    align-items: center;
    border: 2px solid   black;
    /* margin-bottom: 30px; */
    margin : auto;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    background-color: rgb(43, 49, 72);
    /* align-items: center; */
    flex-direction: row;
    justify-content: center;

}
.img{
    display: flex;
    margin :  10px 20px ;
    height : 80%;
    width : 25%;
    border : 3px solid black;
    /* box-shadow: 0px 2px 2px; */
}
/* .border{
    border : 2px solid red;
} */
.marquee{
    display: flex;
    align-items: center;
    /* width : 20%; */
    height: 30px;
    background-color: rgb(7, 21, 39);
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 8px;
    border : 2px solid black;
}

li{
    list-style-type: none;
}
.top_corner{
    display: flex;
    justify-content: space-between;
    width : 70%;
    margin : auto;
    padding: 10px 5px;
    background-color: rgb(7, 21, 39);
    border : 2px solid black;
}
.top_corner li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
}
.mainconatiner label{
    font-size: 18px;
}
.mainconatiner select{
    font-size: 13px;
    padding: 10px 8px 8px 10px ;
    border-radius: 6px;
    width : 130px;   
    appearance: none;                   /*to hide scroll bar menu arrow */
    margin-left: 15px;
}
.conatiner{
    perspective: 1000px;
    margin-bottom: 20px;
    padding: 10px;
}
.seat{
    background-color: grey;
    height : 15px;
    width : 20px;
    margin : 4px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;    
}
.seat.selected{
    background-color: green;
}
.seat.sold{
    background-color: aliceblue;
}

/* to make proper arragnement of seat used child class */
.seat:nth-of-type(2){
    margin-right: 20px;
}

.seat:nth-last-of-type(2){
    margin-left: 20px;
}

.seat:not(.sold):hover{
    cursor: pointer;
    transform: scale(1.3);
}
.screen{
    background-color: white;
    width : 80%;
    height: 100px;
    margin : auto;
    /* margin : 10px 0; */
    transform: rotateX(-48deg);
    box-shadow: 0 3px 10px rgb(275,275,275);
}
.row{
    display: flex;
    justify-content: center;
}

p{
    /* margin: 10px; */
    padding: 8px;
    margin : auto;
    text-align: center;
    /* margin: auto; */
}
p span{
    color: greenyellow;
    justify-content: center;
}

.footer{
    margin-top: 80px;
    background-color: black;
    text-align: center;
}
.footer p {
    width : 50%;
    
}
